.App {
  text-align: center;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #252525;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: #252525;
}

ul, ol {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

button {
  border: none;
  font-size: 16px;
  background-color: whitesmoke;
}

button:hover {
  background-color: aliceblue;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav-list {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.authedUser-info {
  display: flex;
  flex-direction: row;
  margin:0;
}

.authedUser-info p {
  font-size: 0.8rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  text-transform: uppercase;
  margin: 0.5rem 0;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  background: #fff;
  font-size: 16px;
  width: 16rem;
  min-height: 3rem;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.add-btn {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.logout-btn {
  font-size: 0.75rem;
  margin: 0 0.5rem;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipe-logo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
  margin: auto;
}

.recipe-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px #EEE;
  border-radius: 5px;
}

.recipe-thumb:hover {
  opacity: 0.8;
  filter: contrast(180%);
  transition-duration: 0.3s;
}

.recipe-image-thumb {
  width: 120px;
  height: 120px;
  /* clip-path: circle(50%); */
  object-fit: cover;
  border-radius: 5px;
  margin: 10px;
}

.recipe-image {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.recipe {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.recipe-info {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recipe-admin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 18rem;
  margin: auto;
}

.recipe-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-thumb-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 12rem;
}

.recipe-text {
  padding: 0 1.5rem;
}

.line-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line-item {
  display: flex;
}

.author-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.recipe-form-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.recipe-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.recipe-input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: #fff;
  font-size: 16px;
  width: 15rem;
  position: relative;
}

.recipe-input-box {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: #fff;
  font-size: 16px;
  width: 15rem;
  position: relative;
}

.recipe-select {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: #fff;
  font-size: 16px;
  width: 16rem;
  position: relative;
}

.recipe-image-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-image-thumb-input {
  width: 50px;
  height: 50px;
  clip-path: circle(50%);
  object-fit: cover;
  border-radius: 15px;
  margin: 10px;
}

.recipe-image-caption-input {
  align-self: center;
  width: '5rem';
  padding: '0.5rem';
}

.user {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.user-info {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}